{% extends 'base.html' %}{% load static %} {% block title %}Blog - {{
block.super }}{% endblock %} {% block content %}
<div class="container">
  <h1 class="section-title">Blog</h1>
  <div class="blog-list">
    {% for post in posts %}
    <div class="blog-card">
      {% if post.featured_image %}
      <img
        src="{{ post.featured_image.url }}"
        alt="{{ post.title }}"
        class="blog-image"
      />
      {% endif %}
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <p>{{ post.content|truncatewords:30 }}</p>
      <a href="{{ post.get_absolute_url }}" class="btn">Read More</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
